straight
straight.el
.mc-lists.el
.dap-breakpoints
.lsp-session-v1
places
elixir_ls
elixir-ls
ido.last
smex-items
loader.el
auto-save-list/
elpa/
quelpa/
export/
ac-comphist.dat
eproject.lst
.smex-items
\#*
.places
.cache
/eww-bookmarks
eshell/history
.emacs.desktop
.emacs.desktop.lock
eshell/alias
eshell/lastdir
/url/cookies
my-org/
org-files/
semanticdb/
.recentf
.recentf~
projectile.cache
projectile-bookmarks.eld
tramp
elnode/
var/
crown/
*.stackdump
bookmarks
/.my-keybindings.el.swp
.DS_Store
tmp/
/history
.python-environments/
server/
/network-security.data
*.elc
*.pyc
/*.zip
*.db
python-*-docs-html
/.cask/
/session.*
/srecode-map.el
/recentf
backups

# Private directory
private/
!private/README.md
!private/snippets/README.md
!private/local/README.md
/games/
